#apply {
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 30px;
    text-align: center;
    width: 65%;
}

#apply p {
    text-align: center;
}

#apply span {
    text-decoration: underline;
    color: #DA4643;
    text-align: center;
    display: inline;
    font-style: normal;
    cursor: pointer;
}


/* @media (prefers-color-scheme: light) {
    #applyBackground {
        background-color: #FFF6F6;
        height: fit-content;
    }   
} */