#wteTextContainer {
    display: flex;
    flex-direction: column;
    place-items: start;
    row-gap: 30px;
    width: 50%;
    /* border: solid blue */
}

#wte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: dotted green; */
}

#wteButtonContainer {
    /* border: solid red; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wteButtonContainer a {
    letter-spacing: 0.05em;
}

#wteButtonContainer a:hover {
    color: white;
}


@media (min-width: 600px) {
    #wteButtonContainer a {
        box-sizing: border-box;
        background-color: white;
        color: #DA4643;
        box-shadow: none;
        border-style: solid;
        border-color: #DA4643;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;
        font-size: medium;
        transition: 0.5s ease;
        font-weight: 650;

        width: 300px;
        height: 50px;    
    }    
}


#wteButtonContainer a:hover {
    background-color: #DA4643;
    color: white;
}

@media (max-width: 600px) {
    #wteButtonContainer a {
        box-sizing: border-box;
        background-color: white;
        color: #DA4643;
        box-shadow: none;
        border-style: solid;
        border-color: #DA4643;
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        transition: 0.5s ease;
        font-weight: 650;

        font-size: small;
        gap: 5px;
        width: 100px;
        height: 25px;   
    }
    
    #wteButtonContainer a:active {
        background-color: #DA4643;
        color: white;
    }
}

#wte h1, #wte p {
    text-align: left;
}