#testimonyBackground {
    background-color: #FFF6F6;
    height: fit-content;
} 

img#handsOnPhoto {
    width: 550px;
}

#testimonyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* border: solid red; */
}

#testimonyImg p {
    font-size: small;
    justify-self: center;
}

#quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    /* border: solid blue; */
}

.quoteRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 175px;
    /* border: solid green; */
}

.quote {
    width: 75%;
    height: auto;
    padding: 0 40px;
    font-style: italic;
}

.quoteText {
    text-align: start;
}

@media (min-width: 768px) {
    #quotes h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    #quotes p {
        font-size: larger;
        
    }

    #testimonyContainer {
        padding: 60px 0;
    }
}

@media (max-width: 1024px) {
    img#handsOnPhoto {
        width: 280px;
        margin: 0 auto;
        padding-top: 15px;
    }

    #testimonyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
    }

    #quotes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .quote {
        width: 80%;
        height: auto;
        padding: 8px;
    }

    .quoteText {
        text-align: center;
    }

    .quoteRow {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .quote h2 {
        font-size: 1.2em;
    }
}