#testimonyBackground {
    background-color: #FFF6F6;
    height: fit-content;
} 

img#handsOnPhoto {
    width: 550px;
    box-shadow: 8px 8px #DA4643;
}

#testimonyImgCaption {
    font-style: italic;
    font-weight: 650;
    padding-top: 1em;
    font-size: small;
    justify-self: center;
}

#testimonyContainer {
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    align-items: center;

    /* border: solid red; */
}

#quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-between
    /* border: solid blue; */
}

.quote {

    padding: 18px 0;
    font-style: italic;
}

@media (min-width: 768px) {
    #quotes h2 {
        font-size: 35px;
        margin-bottom: 30px;
        
    }

    #quotes p {
        font-size: larger;  
    }

    .quoteText {
        text-align: start;
    }

    #testimonyContainer {
        padding: 60px 0;
    }
}

@media (max-width: 1024px) {
    img#handsOnPhoto {
        width: 280px;
        padding-top: 15px;
        
    }

    #testimonyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
    }

    #quotes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .quote {
        width: 80%;
        height: auto;
        padding: 8px;
    }

    .quoteText {
        text-align: center;
    }

    #quotes h2 {
        font-size: 1.2em;
        margin-bottom: 1em;

    }
}