* {
    /* border-style: solid;
    border-color: brown; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heroBackground {
        background-color: #FFF6F6;
        height: fit-content;
}  

.heroContainer {
    padding: 50px 0;
}

#heroImgCaption {
    font-size: small;
    justify-self: center;
    font-style: italic;
    font-weight: 650;
    padding-top: 1em;
}

#heroImg {
    /* border: solid #DA4643; */
    box-shadow: 8px 8px #DA4643;
}

@media (min-width: 768px) {
    .heroContainer {
        height: 700px;
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        column-gap: 60px;
    }

    .textContent {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #buttons {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25px;
        justify-content: start;
        padding-top: 15px;
    }
    
    .heroContainer h1 {
        text-align: start;
        font-size: 65px;
    }
    
    p {
        text-align: start;
    }
    
    span.emphasis  {
        font-style: italic;
        display: block;
    }

    #heroImg {
        width: 450px;
    }    

    
}


@media (max-width: 768px) {
    .heroContainer {
        display: flex;
        flex-direction: column;
        gap: 55px;
        justify-content: center;
        padding-top: 55px;
    }
    #heroImg {
        width: 300px;
        justify-self: center;
    }

    #logo {
        margin: auto auto;
        padding-bottom: 10px;
    }

    .textContent {
        display: grid;
        gap: 30px;
    }

    #buttons {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        justify-content: start;
        margin: auto auto;
    }

    .heroContainer h1 {
        text-align: center;
        font-size: 35px;
    }

    p {
        text-align: center;
    }

    span.emphasis {
        font-style: italic;
        display: block;
    }


}