#newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    /* border: solid blue; */
    width: 100%;
}

#newsletter p {
    font-size: larger;
    width: 70%;
    text-align: center;
}

#newsletterSignUpForm form {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}


#newsletterSignUpForm button {
    box-sizing: border-box;
    background-color: white;
    color: #DA4643;
    box-shadow: none;
    border-style: solid;
    border-color: #DA4643;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    font-size: medium;
    transition: 0.5s ease;
    font-weight: 550;

    padding: 8px;
}

#newsletterSignUpForm button:hover {
    background-color: #DA4643;
    color: white;
}