.question {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid lightgray;
    margin-top: 15px;
    padding: 8px;
    cursor: pointer;
}

.questionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.questionAnswer {
    display: none;
}

@media (prefers-color-scheme: light) {
    #faqBackground {
        background-color: #FFF6F6;
        height: fit-content;
    }   
}

#faq {
    padding: 30px 0;
}