@media (min-width: 600px) {
    #secondaryButton {
        box-sizing: border-box;
        background-color: white;
        color: #DA4643;
        box-shadow: none;
        border-style: solid;
        border-color: #DA4643;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;
        font-size: medium;
        transition: 0.5s ease;
        font-weight: 550;

        width: 120px;
        height: 50px;    
    }    
}


#secondaryButton:hover {
    background-color: #DA4643;
    color: white;
}

a#secondaryButton {
    font-weight: 550;
    font-size: 1.1em;
}

@media (max-width: 600px) {
    #secondaryButton {
        box-sizing: border-box;
        background-color: white;
        color: #DA4643;
        box-shadow: none;
        border-style: solid;
        border-color: #DA4643;
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        transition: 0.5s ease;
        font-weight: 550;

        font-size: small;
        gap: 5px;
        width: 100px;
        height: 25px;   
    }
    
    #secondaryButton:active {
        background-color: #DA4643;
        color: white;
    }
}